body{
    margin: 0;
    height: 767px;
    overflow: scroll;
}
* {box-sizing:border-box}
/* red background, center aligned */
.heading {
    padding: 1em;
    background-color: #777;
    text-align: center;
}

.heading h1 {
    margin: 0;
    color: white;
    font-size: 45px;
}

/* select menu and provide #777 as background color */
.menu {
    /* when the parent (body) scrolls, and this element is about to cross the top edge, it instead "sticks" */
    position: -webkit-sticky; /* to support old Chrome, Safari, Opera browsers */
    position: sticky;
    top: 0px;
    background-color: #9c9595;
}

.menu-group {
    padding: 0;
    margin: 0;
}

.menu-group > li {
    display: inline-block;
    padding: 0.5em;
    margin: 0 15px;
    font-size: 20px;
}

.menu-group > li:hover {
    background-color: black;
}

.menu-group > li a {
    color: white;
    text-decoration: none;
}

.sub-menu-group-container {
    position: relative;
}

.sub-menu-group {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: lightgrey;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* The .sub-menu-group, which is within the .sub-menu-group-container over which the user is hovering, is to be shown */
.sub-menu-group-container:hover .sub-menu-group {
    display: block;
}

.sub-menu-group > li a {
    display: inline-block;
    width: auto;
    padding: 0.5em;
    color: black;
}

.sub-menu-group > li:hover a {
    background-color: black;
    color: white;
}

img {
    position: absolute;
    width: 100%;
    height: 50%;
    border:  2px solid steelblue;
}
.image-carousal{
    position: absolute;
    width: 100%;
    height: 112%;
    z-index: -1000;
}

.img-1 {
    animation: rotate-items 5s infinite;
}

.img-2 {
    animation: rotate-items 5s infinite;
    animation-delay: 1s;
}

.img-3 {
    animation: rotate-items 5s infinite;
    animation-delay: 2s;
}

.img-4 {
    animation: rotate-items 5s infinite;
    animation-delay: 3s;
}
.img-5 {
    animation: rotate-items 5s infinite;
    animation-delay: 4s;
}

@keyframes rotate-items {
    0% {
        z-index: 0;
    }
    33.3333% {
        z-index: 1;
    }
    66.6666% {
        z-index: 2;
    }
}
.covid-care{
    position: absolute;
    top: 75%;
    width: 100%;
    padding: 0 20px;
    z-index: -1000;
}
.diabetes-care{
    position: absolute;
    top: 128%;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 100px;
    z-index: -1000;
}
.item {
    float: left;
    position: relative;
    width: 20%;
    height: 300px;
    margin: 1em 1%;
    background-color: rgb(230, 230, 250);
    box-shadow: 8px 8px 8px 8px rgb(230, 230, 250);
    border-radius: 5px;
    padding: 0 10px;
    padding-top: 2px;
}
.item img{
    height: 60%;
    width: 90%;
    border: none;
}
.item-title{
    font-size: 18px;
    padding: 10px 0px;
}
.item .button{
    position: relative;
    top: 63%;
    background: #CBC3E3;
    padding: 10px;
    text-align: center;
    color: brown;
    font-size: 18px;
    font-weight: 600;
}
.item .button:focus{
    border: rgb(0, 255, 76);
}
.price-desc, .offer-price-desc{
    position: relative;
    top: 63%
}
.covid-item-image, .diabetes-item-image {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.news-item-title {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: rgba( 64, 64, 64, 0.5 );
    color: white;
}

footer p{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0%;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}